.container {
    background-color: #eeeeee;
    height: 100%;
}

/* Navigation Bar */

input {
    font-family: 'Roboto', sans-serif;
}

.search {
    margin: 4px 16px;
}

#search-field {
    background-color: #114669;
    border: none;
    border-radius: 100px;
    color: #8AB6D2;
    padding: 4px 10px;

    width: 210px;
    margin-right: 0;
}

#search-field::placeholder {
    color: #8AB6D299;
}

#add-contact {
    background: none;
    border: none;
    color: #8AB6D2;
    margin: 0;
    padding: 2px 8px;
}

/* List of Contacts */

.contacts {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1px;

    cursor: pointer;
}

.contact:hover {
    background-color: #fafafa;
}

.contact-img {
    background: #cccccc; /* to be replaced by img */
    width: 44px;
    height: 44px;

    margin-right: 10px;
}

.contact-name {
    font-weight: 600;
    font-size: 1.3em;
    color: #092C43;
}