/* Navigation */

.container {
    display: flex;
    flex-direction: column;
}

.nav1 {
    display: inline-block;
}

.nav-left {
    float: left;
    height: 100%;
    margin-left: 12px;
}

.nav-center {
    position: absolute;
    pointer-events: none;
    width: 100%;
    text-align: center;
    height: 100%;

    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.nav-right {
    float: right;
    height: 100%;
    margin-right: 12px;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;

    display: inline-block;
}

#save-button {
    padding: 2px 6px;
    background-color: #8AB6D2;
    color: #092C43;
    font-size: 1.1em;
}

#back-button {
    background: none;
    border: none;
    color: #8AB6D2;
    margin: 0;
    padding: 2px 8px;
}

/* Sections */

.section {
    font-family: 'Roboto Slab';
    background-color: #DCDCDC;
    display: inline-block;

    margin: 0;
    height: 26px;
    width: 100%;
}

h2 {
    font-size: 1em;
    color: #656565;
}

.section > .nav-left {
    margin-left: 12px;
}

.section > .nav-right {
    margin-right: 0px;
}

.collapse {
    background: none;
    border: none;
    color: #656565;
    margin: 0;
    padding: 2px 8px;
}